* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

body {
  height: fit-content;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b5563;
  height: 100vh;
  border-bottom: 1px solid #ccc;
}

#docs {
  background-color: #ffffff;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 71px 6px rgba(0, 0, 0, 0.55);
}

#main-box {
  box-sizing: border-box;
  width: 360px;
  height: 302px;
  padding: 60px 24px 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#docs-box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  padding: 20px 0;
}

#links {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
}

.link {
  color: darkcyan;
}

.route {
  width: 90%;
  height: fit-content;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  padding: 10px 10px;
}

.route-params {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 5px;
  row-gap: 5px;
}

.route-title {
  font-size: 18px;
  color: darkcyan;
  margin-bottom: 10px;
}

.route-title-type {
  color: darkred;
  font-weight: bold;
}

.route-element {
  border-radius: 5px;
  padding: 5px 5px;
  margin-left: 5px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.yellow {
  background-color: rgb(241, 241, 129);
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: lightcoral;
}

.blue {
  background-color: lightblue;
}

.route-code {
  font-family: monospace;
  font-size: 12px;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.15s;
}

.route-code:hover {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.55);
}

.route-text {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  #main-box {
    width: fit-content;
  }

  #docs-box {
    width: fit-content;
  }

  .box#docs-box {
    border-radius: 0;
  }
}
